.login container {
    height: 100 vh; 
    width: 100vw; 
}

.login {
    color: pink; 
    text-shadow: -1px -1px 0 lightblue, 1px -1px 0 lightblue, -1px 1px 0 lightblue, 1px 1px 0 lightblue;
    font-size: 40px; 
}